
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", serif;
}
/* Reset some basic styles for the page */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-color: #1d1c1c;
  }
  p{
    top: 10px;
    position: absolute;
    color: #15f10d;
  }
  canvas {
   position: absolute;
   top: 40px;
    border: 2px solid rgb(41, 41, 41);
  }
  
  /* Controls Layout */
  .controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10%;
  
  
  }
  
  .controls div {
    display: flex;
    gap: 10px;

    
    margin-top: 10px;
  }
  
  button {
    padding: 5px;
    font-size: 20px;
    border: none;
    background-color: #0c0c0c;
    color: rgb(18, 221, 52);
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    width: 50px; /* Make buttons smaller */
  }
  
  button:hover {
    background-color: #3bb30cb0;
  }
  
  #restart {
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 25%;
    display: none;
    background-color: red;
    color: #fff;
    width: 100px; /* Make restart button wider */
  }
  
  @media (max-width: 600px) {
    canvas {
      width: 90vw;
      height: 60vh;
    }
  
    .controls {
      bottom: 5%;
    }
  
    button {
      padding: 12px;
      font-size: 18px;
      width: 50px; /* Make buttons smaller for mobile */
    }
  
    #restart {
      width: 120px;
      font-size: 16px;
    }
  }
  
  @media (max-width: 400px) {
    .controls {
      bottom: 0;
    }
  
    button {
      padding: 3px;
      font-size: 12px;
      width: 15px; /* Even smaller buttons on very small screens */
    }
  
    #restart {
      width: 50px;
      font-size: 9px;
    }
  }
  